{% extends 'home.html' %} {% block content %} 

<!-- Header-->
<header class="bg-dark py-5">
	<div class="container px-4 px-lg-5 my-5">
		<div class="text-center text-white">
			<h1 class="display-4 fw-bolder">About Us...</h1>
			<p class="lead fw-normal text-white-50 mb-0">Welcome to Ecommerce</p>
		</div>
	</div>
</header>

<div class="container">
	<div class="row">
		<center>
			<div class="col-8">
                <p align = "justify">
                <br/><br/> Lorem ipsum, dolor sit amet consectetur <br/><br/> adipisicing elit. Debitis eligendi quisquam, doloremque velit modi dolor laborum. Excepturi, nostrum repudiandae nobis sit, <br/><br/> ullam dolores ad voluptatum magnam consectetur, harum id doloribus.<br/><br/></div>
		        </p>
        </center>
	</div>
</div>

{% endblock content %}
